<div class="container pt-4">
  <div class="row">
    <h4>Información de contacto</h4>
    <p><a href="https://www.facebook.com/erwinbuker" target="_blank">Erwin Buker López</a> | Ingeniería Buker LTDA.</p>
    <p>Región Metropolitana de Santiago.</p>
    <p>Correo: <a href="mailto:erwin@buker.cl">erwin@buker.cl</a></p>
    <p>Teléfono: <a href="https://wa.me/56998413560">
      (WhatsApp)
    </a> +56 9 9841 3560</p>
    <p>Dirección: Parque las Américas 5536, Maipú.</p>
  </div>
  <div class="row justify-content-start">
    <div class="col-sm-5">
      <p>@ 2023 Creado por Hans Buker Gutiérrez | <a href="https://www.linkedin.com/in/hans-buker-guti%C3%A9rrez-653696136/" target="_blank">LinkedIn</a></p>
    </div>
  </div>
</div>

