.btn-menu {
    font-weight: bold;
    color: #ffffcc;
    transition: color 0.15s ease;
    cursor:pointer;
    background-color: #7e7f8069;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-align: center;
}

.btn-menu:hover {
    font-weight: bold;
    background-color: #7e7f80e8;
    color: #ffffcc;
}
