<div class="row">
    <h4>Información de contacto</h4>
    <h5>Región Metropolitana</h5>
</div>
<div class="card"   >
    <div class="card-body">
        <div class="row">
            <div class="col-sm-9">
                <p>Nombre: Erwin Buker Lopez</p>
                <p>Rol: Contratista</p>
                <p>Correo: <a href="mailto:erwin@buker.cl" target="_blank">erwin@buker.cl</a></p>
                <p>Teléfono: <a href="https://wa.me/56998413560" target="_blank">(Whatsapp)</a> +56 9 9841 3560</p>
            </div>
            <div class="col-sm-3">
              <img src="../../assets/img/erwin_buker.jpg" height="250px" width="auto" title="Erwin" alt="Erwin">
            </div>
        </div>
    </div>
    <div class="card-footer">
      <a href="https://www.facebook.com/erwinbuker" target="_blank"><img src="../../assets/img/logos/facebook.png" height="50px" width="auto" title="facebook" alt="facebook"></a>
      <a href="https://www.instagram.com/erwinbuker/" target="_blank"><img src="../../assets/img/logos/Instagram.jpg" height="50px" width="auto" title="Instagram" alt="Instagram"></a>
      <a href="https://wa.me/56998413560" target="_blank"><img src="../../assets/img/logos/whatsapp.jpg" height="50px" width="auto" title="whatsapp" alt="whatsapp"></a>
    </div>
</div>
<div class="row">
    <h5>Región del Bío-Bío</h5>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-9">
                <p>Nombre: Jorge Buker Gutiérrez</p>
                <p>Rol: Instalador eléctrico autorizado</p>
                <p>Correo: <a href="mailto:jorge@buker.cl" target="_blank">jorge@buker.cl</a></p>
                <p>Teléfono: <a href="https://wa.me/56998449393" target="_blank">(Whatsapp)</a> +56 9 9844 9393</p>
            </div>
            <div class="col-sm-3">
                <img src="../../assets/img/jorge_buker.jpg" height="250px" width="auto" title="Erwin" alt="Erwin">
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a href="https://www.facebook.com/jorgebuker" target="_blank"><img src="../../assets/img/logos/facebook.png" height="50px" width="auto" title="facebook" alt="facebook"></a>
        <a href="https://wa.me/56998449393" target="_blank"><img src="../../assets/img/logos/whatsapp.jpg" height="50px" width="auto" title="whatsapp" alt="whatsapp"></a>
    </div>
</div>
