<div class="row mb-3">
    <h4>Bienvenido a Ingeniería Buker LTDA.</h4>
    <p>Con una experiencia de 9 años en el mercado con el objetivo principal de prestar un servicio integral al cliente, basándose en productos de alta calidad y trabajando de manera eficiente, los que en su conjunto, nos ha permitido obtener importantes clientes. </p>
</div>

<div class="row mb-3">
    <div class="col text-center">
      <img src="../../assets/img/trabajos/Camion.png" height="500px" width="auto">
    </div>
</div>
<div class="row">
    <h4>Nuestros Servicios.</h4>
</div>

<div class="card mb-3">
    <div class="card-body">
        <h5>Ingeniería Eléctrica.</h5>
        <ul>
            <li>Instalaciones y montajes en media y baja tensión.</li>
            <li>Diseño de sistemas eléctricos.</li>
            <li>Instalaciones eléctricas.</li>
            <li>Evaluación y auditoría energética.</li>
            <li>Mantenimiento y diagnóstico de sistemas eléctricos.</li>
            <li>Consultoría técnica.</li>
            <li>Análisis y diseño de sistemas de energía renovable.</li>
        </ul>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5>Sistemas de seguridad</h5>
        <ul>
            <li>Instalación de cámaras de seguridad.</li>
            <li>Instalación de sistemas de alarmas.</li>
            <li>Configuración y programación de sistemas de seguridad.</li>
            <li>Mantenimiento y actualización de sistemas de seguridad.</li>
            <li>Asesoramiento en selección de equipos y soluciones.</li>
            <li>Integración de sistemas de seguridad.</li>
        </ul>
    </div>
</div>
